<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/night.jpg" *ngIf="weatherData.current.is_day == 0"/>
    <img src="../assets/day.jpg" *ngIf="weatherData.current.is_day != 0"/>

    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="temperature">{{ weatherData.location.localtime.split(" ")[1] }}</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/celsius.png"/>
            <span>celsius</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.temp_c | number: "1.0-0"}}°C
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/temp.png"/>
            <span>fahrenheit </span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.temp_f | number: "1.0-0"}}°F
          </div>
        </div>
        <div class="info-block" style="margin-top: 1.5em; margin-bottom: 3em;">
          <div class="info-block-label">
            <img src="../assets/humidity.png"/>
            <span>humid</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.humidity }}%
          </div>
        </div>
        <div class="info-block" style="margin-top: 1.5em; margin-bottom: 3em;">
          <div class="info-block-label">
            <img src="../assets/wind.png"/>
            <span>wind</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.wind_mph  | number: "1.0-0"}} mph
          </div>
        </div>                      
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
